body {
    background-color: rgba(8, 3, 37, .9);
}

main {
    width: 90vw;
    margin: 0 auto;
    background: grey;
}

header {
    background-color: #0A0526;
}

#brand {
    max-height: 30px;
}

.nav-style {
    height: 8vh;
    width: 82.5%;
}

.nav-item {
    color: white;
    text-decoration: none;
    font-weight: 400;
}

.nav-item:hover {
    color: grey;
    text-decoration: none;
}
