body {
    background-color: rgba(8, 3, 37, .9);
}

main {
    width: 90vw;
    margin: 0 auto;
    background: grey;
}

header {
    background-color: #0A0526;
    position: sticky;
    top: 0;
}
.romb {
    height: 200px;
    transform: skew(-7deg);
    background: red;
    width: 100%;
}

#brand {
    max-height: 30px;
}

.nav-style {
    height: 8vh;
    width: 82.5%;
}

.nav-item {
    color: white;
    text-decoration: none;
}

.nav-item:hover {
    color: grey;
    text-decoration: none;
}

/* end of nav  */

/* cover  */

.banner {
    background: url(../images/banner-bg.jpg) no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    height: 70vh;
    /* margin-top: -5rem; */
}

.btn {
    padding: 15px 40px;
    height: 50px;
    width: 180px;
    transform: skew(-7deg);
    color: white;
    border-radius: 0;
}

.btn-active {
    background-color: red;
}

.btn-inactive {
    border: 2px solid white;
}

.btn-inactive:hover {
    background-color: red;
    border: none;
}

.banner-content {
    color: white;
    padding: 90px 0;
}
.bg-black-filter  {
    background-color:  rgba(255,255,255,.1);
}

.bg-youplay-demo    {
    background-color: rgba(8,3,37,.9);
}

.text-white {
    color: white;
}

.text-grey   {
    color: rgb(135, 135, 135);
}

.img-demo-size  {
    object-fit: cover;
    width: 90%;
    height: auto;
}

em  {
    color: white;
    font-size: 1.5rem;
}

.image-features {
    background-attachment: initial;
    background-position: 50% 50%;
    background-size: cover;
}

.bg-features   {
    background: url(../images/game-dark-souls-ii-1920x1080.jpg) no-repeat;
    background-position: 50% 25%;
    background-size: 100% auto;
    height: 70vh;
}
/* klase naudojau sukurti violetiniam nuotraukos atspalviui */
.shadow    {
    background-color: rgba(51, 32, 94, 0.55);
    width: 100%;
    height: 100%;
}
.bg-questions   {
    background-color: rgba(8,3,37,.9);
}
.link-question  {
    text-decoration: underline;
}
.link-question:hover  {
    color: red;
}
/* end of banner  */



/* start of purchase offer before footer  */
.offer {
    background: url(../images/game-bloodborne-1920x1151.jpg);
    background-position: 50% 50%;
    background-size: cover;
    height: 90vh;
    color: white;
}


footer {
    background: url(../images/footer-bg.jpg);
    color: white;
    height: 60vh;
}

.card-social {
    color: white;
    width: 150px;
    height: 180px;
    margin: 0 10px;
}

.card-wrap {
    background-color: rgba(0, 0, 0, .3);
    height: 60%;
    transform: skew(-7deg);
}
